# This file is here to be able to cross compile from macOS.

#
# macOS -> Linux instructions:
# * https://timryan.org/2018/07/27/cross-compiling-linux-binaries-from-macos.html
# * Search for "linux" in release.sh
#
[target.x86_64-unknown-linux-musl]
linker = "x86_64-linux-musl-gcc"

#
# macos -> Windows instructions:
# https://gist.github.com/Mefistophell/9787e1b6d2d9441c16d2ac79d6a505e6
#
[target.x86_64-pc-windows-gnu]
linker = "x86_64-w64-mingw32-gcc"
