name: Windows CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  validate:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2

      # FIXME: Replace "build" with "test" once it passes on Windows.
      - run: cargo build --workspace
